<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kitap Sayfası</title>

  </head>
  <body >
    <img src="<%= resim %> " alt="">
    <h1>Kitap Adı : <%= isim %> </h1>
    <h2>Yazar Adı: <%= yazar %> </h2>
    <p>Açıklama: <%= aciklama %> </p>
    <h2>Fiyat: <%= fiyat %> </h2>
  </body>
</html>
